<% content_for(:head) do %>
  <script>
    function handlePlaceChanged(autocomplete) {
      place = autocomplete.getPlace()

      // Ensure values are reset each time Place changes.
      let zipCode = ""

      // Iterate through address components and set zip.
      for (const component of place.address_components) {
        const componentType = component.types[0]

        switch(componentType) {
          case "postal_code": {
            zipCode = component.long_name
          }
        }
      }

      // Set values on hidden fields.
      document.getElementById("zip_code").value = zipCode
    }

    function initAutocomplete() {
      const input = document.getElementById("address");
      const options = { fields: ["address_components",] };
      const autocomplete = new google.maps.places.Autocomplete(input, options);

      autocomplete.addListener("place_changed", () => { handlePlaceChanged(autocomplete) })
    }
  </script>

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google.maps_api_key}&loading=async&libraries=places&callback=initAutocomplete", async: true %>
<% end %>

<div class="mx-auto md:w-2/3 w-full">
  <%= tag.h1 t(".title"), class: "font-bold text-4xl" %>

  <%= form_with url: forecasts_path do |form| %>
    <div class="my-5">
      <%= form.label :address, t(".address") %>
      <%= form.text_field :address, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :zip_code, "#{t(".zip_code")} *" %>
      <%= form.text_field :zip_code, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", required: true %>
    </div>

    <div class="flex flex-col py-3">
      <%= form.submit t(".submit"), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
</div>
