<div class="mx-auto md:w-2/3 w-full">
  <%= tag.h1 t(".title"), class: "font-bold text-4xl" %>

  <%= form_with url: weather_reports_path, data: { controller: "place" } do |form| %>
    <div class="my-5">
      <%= form.label :address, t(".address") %>
      <%= form.text_field :address, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :zip_code, "#{t(".zip_code")} *" %>
      <%=
        form.text_field :zip_code,
        class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full",
        required: true,
        data: { "place-target" => "zipCode" }
      %>
    </div>

    <div class="flex flex-col py-3">
      <%= form.submit t(".submit"), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
</div>
